P {
    font-family: cursive;
}

h1 {
    color: red;
}

h2{
    color: blue;
}
p{
    color:green;
}

.optimus {
    color: orange;
    font-weight: bold;
}

a:hover {
    text-shadow: tomato ;
}
 